<head>
  <!DOCTYPE html>
  <html lang="ja">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/mobile.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap" rel="stylesheet">
</head>
<header>
  <div class='corona'>
    <a href='/index'><img src='/images/4749.png' title='牛乳石鹸おすすめ' width="25px" height="22px"></a>
  </div>
</header>