<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  
    <div class='parent'>
      <h2 id='blogtitle'>Start</h2>
    </div>
    <div align='center'>
      <form action='/login' method='post' placeholder="Email" class='loginform'>
        <div><input type='text' name='email' placeholder="Email" class='form-email'></div>
        <div><input type='password' name='password' placeholder="Password" class='form-psw'></div>
        <p></p>
        <div><input type='submit' value='Login' class='login-btn'></div>
      </form>
    </div>

    <script src="/js/sample.js"></script>
  </body>
</html>
