<%- include('partials/header'); %>

<body>
  <div class='parent'>
    <h2 id='blogtitle'>Start</h2>
  </div>
  <div align='center'>
    <form action='/login' method='post' placeholder="Email" class='loginform'>
      <div><input type='text' name='email' placeholder="Email" class='form-email'></div>
      <div><input type='password' name='password' placeholder="Password" class='form-psw'></div>
      <p></p>
      <div><input type='submit' value='Login' class='login-btn'></div>
    </form>
    <a href='/signup' class='signup' style="font-size: 10pt;">Signup</a>
  </div>

</body>
</html>
