<%- include('partials/header'); %>

<body>
    <div class='container'>
        <div class="col-xs-10">
            <form action='/create' method='post' align=center> 
                 <div><textarea type='text' name='itemname' class='textbox title-form' rows="1"></textarea></div>
                <div><textarea type='text' name='itemName' class='textbox article-form' rows="8"></textarea></div>
                <p></p>
                <input type="submit" value=" Post &#xf0a9; " class="fas fa-arrow-circle-right">
            
            </form>
        </div>
    </div>
    <script src="/js/sample.js"></script>
</body>
</html>

