<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>miniblog</title>
</head>
<body>
    signout.ejs
    <h2>タイトルを追加</h2>
    <p>文章を追加</p>
    <p></p>
</body>
</html>