@media (max-width: 599px){

/* ログインページ/新規登録画面 */


.parent{
    margin-top: 120px;
}

h2{
    font-size: 40px;
}

.signup-password,
.signup-username,
.signup-email,
.form-email,
.form-psw{
    width: 50%;
    height: 28px;
    border-radius: 5px;
}

.form-psw,
.signup-email,
.signup-password{
    margin-top:10px;
}

.login-btn,
.signup-btn{
    border: .4px inset #000000; 
    text-decoration: none;
    border-radius: 20px;
    padding:8px 16px;
    font-size: 1.2em;
    background-color:white;
    -webkit-appearance: button;
}

::placeholder{
    font-size: 15px;
}

/* インデックス画面 */

ul{
    padding-left: 2px;
}

.cat-img{
    height: 30%;
    width: auto;
}

.container{
    height: 500px;
}

.title-form{
    font-size: 24px;
}




}