
/* インデックスページ*/
/* body{
    font-family: 'Noto Sans JP', sans-serif;
} */

.corona{
    text-align: right;
}

.cat-img{
    text-align: center;
    margin-top: 10px;
    height: 150px;
}

ul {
    list-style: none;
    padding-left: 0;
}

h2{
    text-align: center;
    margin-top:0;
    margin-bottom: 15px;
}

.btn{
    text-align: center;
}

.write{
    border: .1px inset #000000; 
    text-decoration: none;
    border-radius: 20px;
    padding:8px 16px;
    color:#000000;
}

#item-data{
    text-decoration: none;
    color:#000000;
    font-size:16px;
    font-weight: bold;
    display: block;
}

#item-date{
    font-size: 10px;
    margin-top:5;
    opacity:0.5;
}

hr{
    opacity: .2;
}

.logout,
.signup{　
    text-decoration: none;
    color:#000000;
    font-size:8px;
    opacity: .5;
}

.table-body{
    margin-bottom: 0;
}





/* ログインページ */

.parent{
    margin-top:100px;
}

.form-email,
.form-psw{
    border-radius: 3px;
    padding: 5px 0;
    padding-left:2px;
    border: solid thin;
}

.form-psw{
    margin-top:6px;
}

.login-btn,
.signup-btn,
.update-btn,
.close-btn{
    border: .1px inset #000000; 
    text-decoration: none;
    border-radius: 20px;
    padding:5px 16px;
    color:#000000;
    cursor: pointer;
    -webkit-appearance: button;
}

.login-btn,
.signup-btn{
    -webkit-appearance: button;
    background-color: white;
}

.parent{
    text-align: center;
}

/* 新規登録ページ */
.signup-username,
.signup-email,
.signup-password{
    margin-top: 6px;
    border-radius: 3px;
    padding: 5px 0;
    border: solid thin;
    padding-left:2px;
    appearance: none;
}

.container{
    margin-top: 45px;
}


/* 記事作成画面 */

.post-container{
    margin-top: 30px;
}

.textbox{
    border: none;
    width: 95%;
    resize: none;
    border-radius: 0;
}


.login-btn:focus,
.form-email:focus,
.form-psw:focus,
.signup-username:focus,
.signup-password:focus,
.signup-email:focus,
.textbox:focus{
    outline:none;
}


.title-form,
.title-update{
    font-size: 22px;
    border-bottom: .1px solid #ccc;
    text-align: center;
    font-weight: bold;
    padding-bottom: 9px;

}

.article-form,
.article-update{
    margin-top: 12px;
    border-radius: 0;
    padding:5px;
    appearance: none;
    /* border-bottom: 1px solid #ccc; */
    font-size: 18px;

}

.fas{ 
    border: .1px inset #000000; 
    text-decoration: none;
    border-radius: 30px;
    padding:10px 16px;
    color:white;
    background-color: black;
    cursor: pointer;
    -webkit-appearance: button;
}

.fa-arrow-circle-right{
    font-size: 1.1em;
}

/* 記事編集・削除画面 */

/* #update-form{
    margin-bottom: 0;
} */

.update-btn,
.close-btn{
    margin-top:20px;
    font-size: 1.1em;
    margin-bottom:0;
    background-color: white;
}

.bottom-container{
    width: 94%;
    margin-top: 0;

}

.close-btn{
    padding-right: 23px;
    padding-left: 23px;
}
